.latest-projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.latest-projects > .titles {
    display: flex;
    width: 100%;
    margin-top: 20px;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
}
.latest-projects  .latest-projects-logo {
    border-radius: 50px;
    background-color: white;
    color: #1C9DEE;
    font-size: 40px;
    -webkit-box-shadow: 0px 0px 9px 5px rgba(0,0,0,0.16); 
    box-shadow: 0px 0px 9px 5px rgba(0,0,0,0.16);
    padding: 15px;
}
.latest-projects h1{
    color: #121212;
    margin-left: 20px;
}
.latest-projects .line {
    border-top: 1px solid rgba(0,0,0,0.16);
    margin-bottom: 10px;
    width: 90%;
}
.latest-projects .projects-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 10Px;
    align-items: center;
}
.latest-projects .project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    width: 320px;
    -webkit-box-shadow: 0px 0px 9px 5px rgba(0,0,0,0.16); 
    box-shadow: 0px 0px 9px 5px rgba(0,0,0,0.16);
    border-radius: 5px;
    text-align: center;
    transition: box-shadow 0.3s ;
    height: 350px;

}
.latest-projects .project-card:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 9px 5px rgba(0,0,0,0.2); 
    box-shadow: 0px 0px 9px 5px rgba(0,0,0,0.2);
    transition: box-shadow 0.3s ;
}

.latest-projects .project-card > img{
    width: 320px;
    transition: 0.5s all;
}
.latest-projects .project-card:hover > img {

    filter: brightness(50%);

}
.latest-projects > button {
    margin-top: 15px;
    margin-bottom: 50px;
}
.latest-projects .project-card > button,.latest-projects > button {
    text-decoration: none;
    color: #1C9DEE;
    background-color: white;
    border: 1px solid #1C9DEE;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;
    font-family: "Open Sans", sans-serif;
    text-transform: none;

    transition: background 0.5s;
    outline: none;

}
.latest-projects .project-card > button:hover, .latest-projects > button:hover  {
    background-color: #EEEEEE;
    transition: background 0.5s;
    text-decoration: none;
    cursor: pointer;
}
@media all and (max-width: 380px) {
    .latest-projects .project-card {
        width: 100%;
        height: 320px;
    }
    .latest-projects .project-card > img{
        width: 100%;
    }
}
