.skills {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(62,247,255);
    background: linear-gradient(45deg, rgba(62,247,255,1) 0%, rgba(28,157,238,1) 66%);

}

.skills-title {
    display: flex;
    margin-top: 20px;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
}
.skills-title  .skills-logo {
    border-radius: 50px;
    background-color: white;
    color: #1C9DEE;
    font-size: 40px;
    -webkit-box-shadow: 0px 0px 9px 5px rgba(0,0,0,0.16); 
    box-shadow: 0px 0px 9px 5px rgba(0,0,0,0.16);
    padding: 15px;
}
.skills-title h1{
    color: white;
    margin-left: 20px;
}
.skills-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.skill-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    -webkit-box-shadow: 0px 0px 9px 5px rgba(0,0,0,0.16); 
    box-shadow: 0px 0px 9px 5px rgba(0,0,0,0.16);
    border-radius: 15px;
    padding: 15px;
    margin: 50px;

}

.skill-box h2 {
    color: #1C9DEE;
}
.skill-box h3 {
    color: #121212;
}

.skill-box i{
    font-size: 50px;
    margin-top: 15px;
    color: #1C9DEE;

}

.skill-box > .line {
    border-top: 2px solid #1C9DEE;
    width: 95%;
}

.skill-box .language-box  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 15px;
    align-items: center;
}
.skill-box .language-box .language {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 50px;
    -webkit-box-shadow: 0px 0px 9px 5px rgba(0,0,0,0.16); 
    box-shadow: 0px 0px 9px 5px rgba(0,0,0,0.16);
    background-color: white;
    height: 50px;
    width: 50px;
}
.skill-box .language-box  img {
    user-select: none;
    -webkit-user-drag: none;

}
