.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 400px;

}
.intro h2 {
    color: #1C9DEE;
    margin-bottom: 0;
}
.intro img {
    user-select: none;
    width:  350px;
    height: 400px;
    -webkit-user-drag: none;
}
.intro h3 {
    margin-bottom: 0;
}
.intro .titles {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 50px;
}
.intro .titles button{
    text-decoration: none;
    color: #1C9DEE;
    background-color: white;
    border: 2px solid #1C9DEE;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    transition: background 0.5s;
    outline: none;
}

.intro .titles button:hover{
    background-color: #EEEEEE;
    transition: background 0.5s;
    text-decoration: none;
    cursor: pointer;
}

@media all and (max-width: 700px) {
    .intro {
        flex-direction: column;
    }
    .intro .titles {
        margin-right: 0;
    }
}
@media all and (max-width: 370px) {

    .intro img {
        width:  250px;
        height: 300px;
    }
}